@-webkit-keyframes scrollCover {

	0% {
        -webkit-transform: translateX(100%) scale(1, 1);

	}

    50% {
        opacity: 1;
    }

    52% {
        opacity: 0.5;
    }
    60% {
        opacity: 0;
    }
	100% {
        -webkit-transform: translateX(50%) scale(-1, 1);
        opacity: 0;
	}
}

@-webkit-keyframes scrollCoverPageOne {

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(-50%) scale(1, 1);
        opacity: 1;
    }
}

@-webkit-keyframes scrollPageOne {

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(-50%) scale(1, 1);
        opacity: 1;
    }
}

@-webkit-keyframes scrollCoverPageTwo {
    100% {
        -webkit-transform: translateX(-50%);
    }
}


@-webkit-keyframes scrollPageTwo {
    0% {
        -webkit-transform: translateX(-50%) scale(1, 1);
        -webkit-transform-origin: 0% 50%;
    }

    50% {
        opacity: 1;
    }

    52% {
        opacity: 0.5;
    }
    60% {
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(-50%) scale(-1, 1);
        -webkit-transform-origin: 0% 50%;
        opacity: 0;
    }
}



.comic {
    display: flex;
}

.holder1, .holder2 {
    position: absolute;
}

.holder1 .page {
    position: absolute;
}

.holder1 .page:nth-child(odd) {
    transform: translateX(50%) rotate(-0.5deg);
}

.holder1 .page:nth-child(even) {
    transform: translateX(50%) rotate(0.5deg);
}

.holder2 .page {
    position: absolute;
    transform: translateX(150%);
    border: 5px solid red;
}

.comic .cover {
    -webkit-transform: translateX(100%);
    z-index: 2;
}

.comic .page1 {
    -webkit-transform: translateX(0%) scale(-1, 1);
    opacity: 0;
}

.comic .page2 {
    -webkit-transform: translateX(-100%);
}

.coverScroll .cover {
    -webkit-animation-name: scrollCover;
    -webkit-animation-duration: 0.8s;
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-animation-fill-mode: forwards;
}

.coverScroll .page1 {
    -webkit-animation-name: scrollCoverPageOne;
    -webkit-animation-duration: 0.8s;
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-animation-fill-mode: forwards;
}

.coverScroll .page2 {
    -webkit-animation-name: scrollCoverPageTwo;
    -webkit-animation-duration: 0.8s;
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-animation-fill-mode: forwards;
}

.normalScroll .page1 {
    -webkit-animation-name: scrollPageOne;
    -webkit-animation-duration: 0.8s;
    -webkit-transition-property: -webkit-transform, -webkit-transform-origin, opacity;
    -webkit-animation-fill-mode: forwards;
}

.normalScroll .page2 {
    -webkit-animation-name: scrollPageTwo;
    -webkit-animation-duration: 0.8s;
    -webkit-transition-property: -webkit-transform, -webkit-transform-origin, opacity;
    -webkit-animation-fill-mode: forwards;
}

/*
.comic {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.pages {
	display: none;
}

.coverScroll .pages {
    display: flex;
}



/*TEMP*/
/*.coverScroll .pages .page2
{
    display: none;
}

.coverScroll .cover .page {
	-webkit-animation-name: scrollCover;
    -webkit-animation-duration: 1s;
    -webkit-transition-property: -webkit-transform, -webkit-transform-origin, visibility;
    -webkit-animation-fill-mode: forwards;
}

.coverScroll .pages .page1 .page {
    visibility: hidden;
	-webkit-animation-name: scrollFirstPage;
    -webkit-animation-duration: 1s;
    -webkit-transition-property: -webkit-transform, -webkit-transform-origin, visibility;
    -webkit-animation-fill-mode: forwards;
}

/*.comic:hover {


    animation-name: frontSideFlip;

/*}

.comic .backSide {
	position: absolute;
	max-width: 800px;
	width: 800px;
	height: 1000px;
	background-color: #c7c6b7;
}

.comic:hover .backSide {
	animation-name: backSideFlip;
	animation-duration: 1s;
}*/