.page {
	display: flex;
	flex-wrap: wrap;
	font-family: 'Comic Sans', cursive;
	padding: 1vmin;
	width: 600px;
	height: 1000px;
	margin-top: 3vmin;
	background-color: #c7c6b7;

	margin-left: 2px;
	margin-right: 2px;
	border: 2px solid black;
}
