@font-face
{
    src: url('./Proxima Nova Light.otf');
    font-family: 'Proxima' 
}

.comic
{
	display: flex;
	flex-wrap: wrap;
}


.strip {
	height: 300px;
	border: 5px solid black;
	margin: 5px;
}


.full {
	flex-basis: 100%;
}

.half {
	flex-basis: 45%;
	flex-grow: 1;
}

.third  {
	flex-basis: 30%;
	flex-grow: 1;
}

.spacegame {
	background-image: url('spacegame.PNG');
	background-attachment: 
}